<div class="mx-auto p-2" style="width: 1000px;">
<div class="container mt-12">
    <div class="row">
        <div class="col-md-4">
            <img src="~/img/escenario 1.jpg" alt="Foto" class="img-thumbnail rounded-circle">
        </div>
        <div class="col-md-8">
            <h1>Tu Nombre</h1>
            <p>Apellidos</p>
            <p>Email: email@example.com</p>
            <p>Fecha de Nacimiento:</p>
            <p>Dirección:</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Objetivo</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi magnam
                accusamus, in eius vitae, sequi consectetur
                nobis deserunt necessitatibus voluptatibus nisi cum provident sed,
                accusantium quaerat sit voluptate omnis quasi?
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Datos Laborales</h3>
            <div class="list-group">
                <div class="list-group-item">
                    <h5 class="mb-2">Puesto:</h5>
                    <p class="mb-2">Empresa:</p>
                    <p class="mb-2">Contacto:</p>
                    <p class="mb-2">Fecha de Inicio:</p>
                    <p class="mb-2">Fehca de Fin: </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>