@model Web_24BM.Models.Curriculum
<title>Mi Currículum</title>
<!-- Agrega el enlace al archivo CSS de Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <h1 class="text-center">Mi Currículum</h1>

    <div class="section photo">
        <img src="~/img/kawa.jpg" alt="Foto" class="img-thumbnail rounded-circle" style="width:250px; height: 200px;">
    </div>
    <div class="section">
        <h2>Información Personal</h2>
        <p><span class="info-label">Nombre:</span> Nombre</p>
        <p><span class="info-label">Apellidos:</span> Apellidos</p>
        <p><span class="info-label">Email:</span> Email</p>
        <p><span class="info-label">Fecha de Nacimiento:</span> FechaNacimiento</p>
    </div>

    <div class="section">
        <h2>Comentario</h2>
        <p>Objetivo</p>
    </div>
</div>